* {
    margin:0;
    padding:0;
    flex-direction: column;
}
body{
    overflow-y:hidden;
}
.main{
    width:100%;
    height: 1000px;
    background:#1a1d29;
}
.leftside{
    float:left;
}
.leftside_header{
    padding-top:60px;
}
.title_img{
    width: 100px;
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
}
.title_txt{
    color: white;
    font-size: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.card_area{
    margin-top: 20px;
    margin-left: 30px;

}
.card{
    background: #080a0e;
    width:300px !important;
    height: 300px !important;
    margin-left:10px !important;
    margin-bottom:20px !important;
}
.row_area{
    margin-right:0px;
    margin-left:0px;
}
.rightside{
    float:right;
}
.rightside .top-right{
    width:100%;
    height:auto;
}
.video_submit{
    background-color:#1dd983;
    color:white;
    margin-left:255px;
    margin-top:20px;
}